main{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/dot.png");
  background-position: center;
  background-size: cover;
}
/* .card{
  background-color: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
} */